@import "./mocha.css";

@define-color dark #1E1F26;
@define-color light #E0E0E0;
@define-color highlight #FF69B4;
@define-color border #E0E0E0;

* {
  font-family: "Fira Code";
  font-size: 14px;
  min-height: 0;
  font-weight: bold;
}

window#waybar {
  background-color: transparent;
  margin: 0;
}

#window {
  margin: 0px;
  padding-left: 0;
  padding-right: 0;
}

#workspaces {
  padding: 6px 12px;
  background-color: @dark;
  border-radius: 0px;
  border-bottom-right-radius: 6px;
  margin-top: 0px;
}

#workspaces button {
  padding: 0 4px;
  color: @light;
  background-color: transparent;
  border-radius: 0;
}

#workspaces button:hover {
  border-bottom: 0;
  color: @highlight;
  box-shadow: none;
  background-color: transparent;
}

#workspaces button.focused {
  border-bottom: 0;
  background-color: transparent;
  color: @highlight;
}

#workspaces button.active {
  border-bottom: 0;
  color: @highlight;
}

#submap {
  background-color: @highlight;
  border-radius: 0px;
  border-right: 1px solid @border;
  padding: 6px 12px;
  margin-left: 20px;
  margin-top: 0px;
  color: @dark;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

#cpu {
  background-color: @dark;
  border-radius: 0px;
  border-bottom-left-radius: 6px;
  border-right: 1px solid @border;
  padding: 6px 12px;
  margin-left: 0;
  margin-top: 0px;
  color: @light;
}

#memory {
  background-color: @dark;
  border-radius: 0px;
  border-right: 1px solid @border;
  padding: 6px 12px;
  margin-left: 0;
  margin-top: 0px;
  color: @light;
}

#memory:hover {
  color: @highlight;
}

#clock {
  background-color: @dark;
  border-radius: 0px;
  border-bottom-left-radius: 6px;
  margin-left: 0;
  padding: 6px 12px;
  margin-top: 0px;
  color: @light;
  border-right: 1px solid @border;
}

#clock:hover {
  color: @highlight;
}

#window {
  background-color: @dark;
  border-radius: 0px;
  margin-left: 0;
  padding: 6px 12px;
  margin-top: 0px;
  color: @light;
  border-right: 1px solid @border;
}

#custom-media {
  color: @light;
  background-color: @dark;
  padding: 6px 12px;
  border-bottom-left-radius: 0px;
  border-right: 1px solid @border;
}

#pulseaudio {
  color: @light;
  border-bottom: 0px;
  background-color: @dark;
  padding: 6px 12px;
  border: 0;
  border-bottom-right-radius: 6px;
}

#pulseaudio:hover {
  color: @highlight;
}

#custom-external-ip {
  color: @light;
  border-bottom: 0px;
  background-color: @dark;
  padding: 6px 12px;
  border-right: 1px solid @light;
}

#custom-external-ip:hover {
  color: @highlight;
}

#custom-power {
  color: @light;
  border-bottom: 0px;
  background-color: @dark;
  padding: 6px 24px;
}

#custom-power:hover {
  color: @dark;
  background-color: @highlight;
}

/* #pulseaudio,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#wireplumber,
#tray,
#network,
#mode,
#scratchpad,
#custom-media {
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 4px;
  padding-right: 4px;
} */

/* #clock.date {
  color: @mauve;
  border-bottom: 0px solid @mauve;
} */

#network {
  color: @yellow;
  border-bottom: 0px solid @yellow;
}

#idle_inhibitor {
  margin-right: 12px;
  color: #7cb342;
}

#idle_inhibitor.activated {
  color: @red;
}

#battery {
  color: @green;
  border-bottom: 0px solid @green;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#custom-vpn {
  color: @lavender;
  border-radius: 15px;
  padding-left: 6px;
  padding-right: 6px;
}
